*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* CONTAINER */

#container{

    
    overflow-x:auto;
    margin-top: 15%;
    margin-right: 15%;
    margin-left: 15%;

    
}

.boton{
    
    display: block;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    outline: none;
    background: rgb(28, 123, 231);
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    width: 40%;
    transition: 300ms;
    
}

.boton:hover{

    background-color: tomato;

}

.tables{

    margin: 0px auto;
    width: 80%;
    color: grey;
    border-collapse: collapse
    
}

td, th {

    border: 1px solid #e0e0e0;
    text-align: left;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
   
  }


tr:nth-child(even) {
    background-color: #c1d4fc25;
  }

